.header {
	width:1346px ;
	height:60px ;
	background-color: #d1ac75 ;

}
.banner1 {
	width:600px ;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top:50px ;
	background-color: black;

}
.pt-1 {
	padding-top: 45px;
}
.pb-2 {
	padding-bottom: 45px;
}
 #9c764f